@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Resident Advisor DJ Web Service Test</h2>
    <h4><p class="lead">Please select an event to view artist information:</p></h4>

    @Html.ActionLink("Event", "displayEvent", "Home")
</div>

